.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}

.logo {
  display: block;
  max-width: 148px;
  max-height: 105px;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
}

.link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.nav-link-active {
  text-decoration: none;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  background-color: rgb(255, 255,255);
}

.header-nav-list {
  display: flex;
  column-gap: 33px;
}

.header-nav-item {
  position: relative;
}

.header-nav-item::after {
  content: '';
  position: absolute;
  top: 9px;
  right: -19px;
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
}

.header-nav-item:last-child::after {
  display: none;
}


.address {
  justify-self: end;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

.header-address {
  margin-right: 34px;
}

.header-address-link {
  display: block;
  line-height: 24.3px; /* 135% */
}

/* Cover */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background: url('../images/cover.jpg') center center/cover no-repeat;
}

.cover-title {
  position: relative;
  z-index: 2;
  margin-bottom: 106px;
  color: rgb(255, 255,255);
  font-weight: 700;
  font-size: 100px;
  line-height: 115%; /* 115px */
  letter-spacing: 28px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover-description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-description-text {
  max-width: 637px;
  color: rgb(255, 255,255);
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 23px;
}

.cover-description-btn {
  border: 1px solid rgb(255, 255,255);
  padding: 12px 32px;
  color: rgb(255, 255,255);
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

/* Lots */

.lots {
  padding: 0 24px;
}

.lots-title {
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.lots-list-item {
  position: relative;
  max-width: 334px;
  min-height: 596px;
  margin-bottom: 30px;
  padding: 48px 40px;
}

.lots-list-link {
  position: relative;
  z-index: 2;
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots-list-card {  
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-film {
  background: url(../images/card-lot-01.jpg) center center/cover no-repeat;
}

.card-book {
  background: url(../images/card-lot-02.jpg) center center/cover no-repeat;
}

.card-painting {
  background: url(../images/card-lot-03.jpg) center center/cover no-repeat;
}

.card-title {
  color: rgb(255, 255,255);
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card-text {
  color: rgb(255, 255,255);
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.lots-link-more {
  display: block;
  margin-bottom: 155px;
  margin-left: 40px;
  font-size: 20px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px;
}

.about-logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.about-logo-link {
  display: block;
  width: 148px;
  height: 114px;
}

.about-logo-img {
  width: 100%;
}

.about-content {
  padding-top: 101px;
}

.about-content-title {
  margin-bottom: 100px;
}

.about-content-text {
  margin-bottom: 24px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 24px; /* 120% */
}

.about-content-text:last-child {
  margin-bottom: 181px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.footer-address {
  justify-self: start;
}

.footer-address-link {
  display: block;
  line-height: 24.3px; /* 135% */
}

.footer-nav {
  justify-self: center;
  text-align: center;
}

.footer-social-link {
  display: block;
  max-width: 48px;
  max-height: 48px;
}

.footer-social-img {
  width: 100%;
}

.social-list {
  list-style: none;
}

.footer-social-list {
  display: flex;
  justify-content: end;
  column-gap: 48px;
}